@import-normalize; /* bring in normalize.css styles */

main {
  padding: 20px 0;
}

main > .container {
  /* text-align: center; */
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 20px 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
  /* outline: 1px solid tomato; */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  transition: color 250ms linear, background-color 250ms linear;
}

.btn:hover {
  color: #fff;
  background-color: #f36721;
}

.loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading__container__reviews_cast {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
